<a href="https://colab.research.google.com/github/Sagar25-prac/python_data_structures/blob/main/Object_Oriented_Progamming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic Coding

employee1 = ['Sarthak',26,'Developer',25000]
employee2 = ['Sagar',26,'Data Engineer',120000]

employees = [employee1,employee2]

for e in employees:
  print(f"{e[0]} Salary is {e[3]}")


# this is not ideal

Sarthak Salary is 25000
Sagar Salary is 120000

In [ ]:
# Using Dictionary


employee1 = {
    'Name':'Sarthak',
    'Age':26,
    'Position':'Developer',
    'Salary':25000}

employee2 = {
    'Name':'Sagar',
    'Age':26,
    'Position':'Data Engineer',
    'Salary':120000}

employees = [employee1,employee2]

for e in employees:
  print(f"{e['Name']} Salary is {e['Salary']}")

Sarthak Salary is 25000
Sagar Salary is 120000

In [ ]:
# Adding Functions


employee1 = {
    'Name':'Sarthak',
    'Age':26,
    'Position':'Developer',
    'Salary':25000}

employee2 = {
    'Name':'Sagar',
    'Age':26,
    'Position':'Data Engineer',
    'Salary':120000}

employees = [employee1,employee2]

def Bonus(employee,percent):
  employee['Salary']+= employee['Salary']*(percent/100)

def information(employee):
  print(f"{employee['Name']} is {employee['Age']} years old. He is a {employee['Position']} with salary of {employee['Salary']}")

Bonus(employee2,20)

for e in employees:
  information(e)

Sarthak is 26 years old. He is a Developer with salary of 25000
Sagar is 26 years old. He is a Data Engineer with salary of 144000.0

## Designing a Class

In [ ]:
# Simple Class

class Employee:
  pass

e = Employee()
print(e)
print(e.__dict__)

<__main__.Employee object at 0x7d8b20336ed0>
{}

In [ ]:
# Employee Class

class Employee:
  def __init__(self):
    self.__dict__['name'] = 'sagar'
    self.__dict__['age'] = 26
    self.__dict__['position'] = 'data engineer'
    self.__dict__['salary'] = 120000

e = Employee()
print(e)
print(e.__dict__)

<__main__.Employee object at 0x7d8b20336ed0>
{'name': 'sagar', 'age': 26, 'position': 'data engineer', 'salary': 120000}

In [ ]:
# Optimize

class Employee:
  def __init__(self):
    self.name = 'sagar'
    self.age = 26
    self.position = 'data engineer'
    self.salary = 120000

e = Employee()

print(e.name)

# To check the class

print(e.__class__)

sagar
<class '__main__.Employee'>

In [ ]:
# Automate
# class
class Employee:
  def __init__(self,name,age,position,salary):
    self.name = name
    self.age = age
    self.position = position
    self.salary = salary
# instance
employee1 = Employee('Sagar',26,'Data Engineer',140000)
employee2 = Employee('Kushal',21,'Data Analyst',80000)

print(employee1.name)
print(employee2.name)

<__main__.Employee object at 0x7d507d9a4050>
Sagar
Kushal

In [ ]:
# Adddig methods

class employee:
  def __init__(self,name,age,position,salary):
    self.name = name
    self.age = age
    self.position = position
    self.salary = salary

  # methods
  def Bonus(self,percent):
    self.salary += self.salary*(percent/100)

  def info(self):
     print(f"{self.name} is {self.age} years old. He is a {self.position} with salary of {self.salary}")

employee1 = employee('Sagar',26,'Data Engineer',140000)
employee2 = employee('Kushal',21,'Data Analyst',80000)
employee.Bonus(employee1,20)
employee.info(employee1)

# with instance
employee1.Bonus(15)
employee1.info()

Sagar is 26 years old. He is a Data Engineer with salary of 168000.0
Sagar is 26 years old. He is a Data Engineer with salary of 193200.0

## DUNDER METHODS

In [ ]:
# Adddig methods

class employee:
  def __init__(self,name,age,position,salary):
    self.name = name
    self.age = age
    self.position = position
    self.salary = salary

  # methods
  def Bonus(self,percent):
    self.salary += self.salary*(percent/100)

  def __str__(self):
     return(f"{self.name} is {self.age} years old. He is a {self.position} with salary of {self.salary}")

employee1 = employee('Sagar',26,'Data Engineer',140000)
employee2 = employee('Kushal',21,'Data Analyst',80000)

print(employee1)

Sagar is 26 years old. He is a Data Engineer with salary of 140000

## DataClasses

In [ ]:
from dataclasses import dataclass

@dataclass
class employee:
  name: str
  age: int
  position: str
  salary: float
  # methods
  def Bonus(self,percent):
    self.salary += self.salary*(percent/100)

  # def __str__(self):
  #    return(f"{self.name} is {self.age} years old. He is a {self.position} with salary of {self.salary}")

employee1 = employee('Sagar',26,'Data Engineer',140000)
employee2 = employee('Kushal',21,'Data Analyst',80000)

print(employee1)

employee(name='Sagar', age=26, position='Data Engineer', salary=140000)

## Attributes

In [ ]:

class employee:
  def __init__(self,name,age,position,salary):
    self.name = name
    self.age = age
    self.position = position
    self.set_salary(salary)

  # methods
  def Bonus(self,percent):
    self.salary += self.salary*(percent/100)

  def __str__(self):
     return(f"{self.name} is {self.age} years old. He is a {self.position} with salary of {self.salary}")

  def get_salary(self):
    return self.salary

  def set_salary(self,salary):
    if salary < 1000:
      raise ValueError('Minimum salary is 1000')

employee1 = employee('Sagar',26,'Data Engineer',140000)
employee2 = employee('Kushal',21,'Data Analyst',80000)

employee1.set_salary(400)

print(employee1.get_salary())

ValueError: Minimum salary is 1000

## Abstraction

Class instances should hide implementation details

## Encapsulation

Class instances should group related data and methods,Hiding of data attributes which are only used for internal implementation purposes

In [ ]:

class employee:
  def __init__(self,name,age,position,salary):
    self.name = name
    self.age = age
    self.position = position
    self.salary = salary

  # methods
  def Bonus(self,percent):
    self.salary += self.salary*(percent/100)

  def __str__(self):
     return(f"{self.name} is {self.age} years old. He is a {self.position} with salary of {self.salary}")

  def get_salary(self):
    return self.salary

  def set_salary(self,salary):
    if salary < 1000:
      raise ValueError('Minimum salary is 1000')

employee1 = employee('Sagar',26,'Data Engineer',140000)
employee2 = employee('Kushal',21,'Data Analyst',80000)

employee1.set_salary(2000)

print(employee1.get_salary())

140000

## Inheritance

In [1]:
class Employee:
  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.salary = salary

  def increase_salary(self,percent):
    self.salary += self.salary *(percent/100)

class tester(Employee):
  pass

employee1 = tester('sagar',26,20000000)

employee1.increase_salary(20)
print(employee1.salary)

24000000.0

In [6]:
class Employee:
  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.salary = salary

  def increase_salary(self,percent):
    self.salary += self.salary *(percent/100)

class tester(Employee):
  def run_test(self):
    print(f'Testing is started by {self.name}')
    print("Tests are done ")

class developer(Employee):
  def increase_salary(self, percent,bonus=0):
    self.salary += self.salary *(percent/100)
    self.salary += bonus


employee1 = tester('samrat',26,20000)
employee2 = developer('Sagar',26,289087657)
employee2.increase_salary(20,30)

print(f'Tester is {employee1.name} and his age is {employee1.age} with salary of {employee1.salary}')
print(f'Developer is {employee2.name} and his age is {employee2.age} with salary of {employee2.salary}')

Tester is samrat and his age is 26 with salary of 20000
Developer is Sagar and his age is 26 with salary of 346905218.4

In [11]:
# Using super

In [12]:
class Employee:
  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.salary = salary

  def increase_salary(self,percent):
    self.salary += self.salary *(percent/100)

class tester(Employee):
  def run_test(self):
    print(f'Testing is started by {self.name}')
    print("Tests are done ")

class developer(Employee):
  def increase_salary(self, percent,bonus=0):
    super().increase_salary(percent)
    self.salary += bonus


employee1 = tester('samrat',26,20000)
employee2 = developer('Sagar',26,289087657)
employee2.increase_salary(20,30)

print(f'Tester is {employee1.name} and his age is {employee1.age} with salary of {employee1.salary}')
print(f'Developer is {employee2.name} and his age is {employee2.age} with salary of {employee2.salary}')

Tester is samrat and his age is 26 with salary of 20000
Developer is Sagar and his age is 26 with salary of 346905218.4

In [13]:
# Adding Attributes to the sub class

In [14]:
class Employee:
  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.salary = salary

  def increase_salary(self,percent):
    self.salary += self.salary *(percent/100)

class tester(Employee):
  def run_test(self):
    print(f'Testing is started by {self.name}')
    print("Tests are done ")

class developer(Employee):
  def __init__(self, name, age, salary,framework):
    super().__init__(name, age, salary)
    self.framework = framework

  def increase_salary(self, percent,bonus=0):
    super().increase_salary(percent)
    self.salary += bonus


employee1 = tester('samrat',26,20000)
employee2 = developer('Sagar',26,289087657,'python')
employee2.increase_salary(20,30)

print(f'Tester is {employee1.name} and his age is {employee1.age} with salary of {employee1.salary}')
print(f'Developer is {employee2.name} and his age is {employee2.age} uses language {employee2.framework} with salary of {employee2.salary}')

Tester is samrat and his age is 26 with salary of 20000
Developer is Sagar and his age is 26 uses language python with salary of 346905218.4